{% extends 'layout.html' %}
{% block title %}
    Edit Booking
{% endblock %}
{% block content %}
<h1 class="mt-5">Edit Booking</h1>
<br>
<div class="container">
    <form method="POST">
        <div class="mb-3">
            <label for="service" class="form-label">Date of Request</label>
            <input type="date" class="form-control" id="date" name="date" value="{{booking.date_of_service}}" required>
            <label for="remarks" class="form-label">Remarks</label>
            <input type="text" class="form-control" id="remarks" name="remarks" value="{{booking.remarks}}" required>                    
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-plus fa-xs fa-fw"></i>    
            Book
        </button>
    </form>
</div>
{% endblock %}