{% extends 'layout.html' %}
{% block title %}
    Professional Registration
{% endblock %}
{% block content %}
<br>
    <h1 class="mt-2" style="text-align:center;">Welcome {{user.username}}</h1>
    <br>
    <div class="d-flex justify-content-center align-items-center">
        <div class="card border border-dark" style="width:50rem;">
            <div class="card-header">
                <h1 class="mt-1">Profile</h2>
            </div>
            <div class="card-body">
<form method="POST">
    <div class="mb-3">
        <h2>Personal Details</h2>
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" value="{{user.username}}" required>
    </div>
    <div class="mb-3">
        <label for="fullname" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="fullname" name="fullname" value="{{user.fullname}}" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Current Password</label>
        <input type="password" class="form-control" id="password" name="cpassword" required>
    </div>
    <div class="mb-3">
        <label for="confirm_password" class="form-label">New Password</label>
        <input type="password" class="form-control" id="confirm_password" name="npassword" required>
    </div>
    <h2 class="form-title">Professional Details</h2>
    <div class="mb-3">
        <label for="service" class="form-label">Service</label>
        <input type="text" class="form-control" id="service" name="service" value="{{service.name}}" readonly>
    <div class="mb-3">
        <label for="description" class="form-label">Service Description</label>
        <textarea class="form-control" id="description" name="description" required>{{user.description}}</textarea>
    </div>
    <div class="mb-3">
        <label for="pincode" class="form-label">Pincode</label>
        <input type="number" class="form-control" id="pincode" name="pincode" value="{{user.service_pincode}}" required>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" name="price" value="{{user.price}}" required>
    </div>
    <div class="mb-3">
        <label for="experience" class="form-label">Experience</label>
        <input type="number" class="form-control" id="experience" name="experience" value="{{user.experience}}" required>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
</div>
        </div>
    </div>
{% endblock %}